.container-menuHamb{
    display: none;
}

@keyframes moveMenu{
    100% { right: 0; }
    50% { right: -50%; }
    0% {right: -100%; }
}


@media (max-width: 800px){
    
    .container-menuHamb{
        display: block;
        position: fixed;
        top: 25px;
        right: 30px;
        z-index: 200;
    }
    .container-menuHamb .icon-hamb img{
        width: 30px;
    }
    .container-menuHamb .container-links{
        position: fixed;
        animation-name: moveMenu;
        animation-duration: 0.5s;
        width: 200px;
        right: 0px;
        top: 80px;
        height: 100vh;
        box-shadow: 0 0 10px #000;
        background-color: #000000d8;
    }
    .container-menuHamb .container-links .links-container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .container-menuHamb .container-links .links-container .links{
        text-align: start;
        align-items: center;
        height: 45px;
        margin-top: 50px;
        padding-left: 10px;
        color: #fff;
        font-size: 30px;
        text-align: center;
    }
    .container-menuHamb .container-links .links-container .links:hover{
        background-color: #CA3E47;
        color: #fff;
    }

}